html {
  background: var(--black);

  scroll-behavior: smooth;
}

body {
  background: var(--black);

  color: var(--white);

  font-family: var(--body-font);

  overflow-x: hidden;

  min-height: 100vh;
}
