:root {
  /* Colors */

  --black: #000000;
  --white: #ffffff;

  --purple: #a21eff;
  --pink: #ff2d78;
  --yellow: #ffee08;
  --teal: #00bfbf;

  /* Fonts */

  --body-font: "Inter", sans-serif;
  --heading-font: "Bebas Neue", sans-serif;

  /* Layout */

  --hero-max-width: 1800px;

  /* Timing */

  --transition: 0.35s ease;
}
